.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #34023f;
  font-size: 25px;
  height: 50px;
}

.container a{
  text-decoration: none;
  color: whitesmoke;
}

.container a[class='active']{
  color: darkviolet;
}
